<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/booking">
              <span data-feather="home"></span>
              Booking listing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">
              <span data-feather="file"></span>
              Rooms
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/invoices">
              <span data-feather="file"></span>
              Invoices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/guests">
              <span data-feather="file"></span>
              Guests
            </a>
          </li>

        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
